:is(.field-file, .field-button, .title-form) {
  margin-bottom: 1rem;
}

:is(.field-file, .field-button) {
  border: none;
}

.title-form {
  padding: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.25rem;
  letter-spacing: 0.078125rem;
  text-align: center;
}

.field-button {
  display: flex;
  overflow: hidden;
}

.field-button button {
  flex-grow: 1;
}

.field-file {

  width: 100%;
  display: flex;
  align-items: center;

  & label {
    border: 1px solid var(--blue-purple);
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    font-size: 1.25rem;
    background-color: var(--blue-purple);
    color: #FFFFFFFF;

    & i {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      filter: brightness(0.7);
    }
  }

  & input[type='file'] {
    display: none;
  }
}

/* >= 768px */
@media screen and (width >=48rem) {
  .field-file {
    width: 50%;
  }
}

/* >= 900px */
@media screen and (width >=56.25rem) {
  .field-file {
    width: 40%;
  }
}

/* >= 1024px */
@media screen and (width >=56.25rem) {
  .field-file {
    width: 100%;
  }
}
