<div class="container">
  <header [className]="'content-header'" role="banner" aria-label="navigation header">
    <app-navbar></app-navbar>
  </header>

  <main [className]="'content-read-file'" role="main" aria-labelledby="application">

    <section [className]="'content-filter'" role="region" aria-labelledby="filter">

      <form [className]="'form-filter'" role="form" aria-labelledby="filter"
        aria-describedby="file-description path-description filename-descirpiton">

        <fieldset [className]="'field-file'" aria-describedby="file-description">
          <app-input-file [labelInput]="'Upload'"></app-input-file>
        </fieldset>

        <fieldset [className]="'field-path'" aria-describedby="path-description">
          <app-input [id]="'path'" [labelInput]="'Path'"></app-input>
        </fieldset>

        <fieldset [className]="'field-filename'" aria-describedby="filename-description">
          <app-input [id]="'filename'" [labelInput]="'Filename'"></app-input>
        </fieldset>

        <fieldset [className]="'field-filetype'" aria-describedby="filetype-description">
          <app-input [labelInput]="'File Type'"></app-input>

        </fieldset>

        <fieldset [className]="'field-button'">
          <app-button [namebutton]="'Extrair'"></app-button>
        </fieldset>
      </form>

    </section>

    <mat-divider role="separator" aria-hidden="true"></mat-divider>

    <section [className]="'content-body-table'" role="region" aria-labelledby="data table"></section>

  </main>


  <footer role="contentinfo" aria-label="footer"></footer>
</div>