<div class="container">
  <header [className]="'content-header'" role="banner" aria-label="navigation header">
    <app-navbar></app-navbar>
  </header>

  <main [className]="'content-read-file'" role="main" aria-labelledby="application">

    <section [className]="'content-filter'" role="region" aria-labelledby="filter">
      <legend>
        <h4>{{label}}</h4>
      </legend>

      <fieldset [className]="'field-file'" aria-describedby="file-description">
        <app-input-file [labelInput]="'Upload'" (fileChange)="onFileSelected($event)"></app-input-file>
      </fieldset>

      <fieldset [className]="'field-button'">
        <app-button [namebutton]="'Extrair'" (click)="processFile()"></app-button>
      </fieldset>

      <fieldset [className]="'content-response'">
        @if(error) {
        <app-error [message]="error"></app-error>
        }
      </fieldset>

    </section>

    <section [className]="'content-table'" role="region" aria-labelledby="data table">
      <table>

        <thead>
          @for (column of headers; track $index) {
          <th>{{column}}</th>
          }
        </thead>

        <tbody>
          @for (item of result; track $index) {
          <tr>
            <td>
              {{item}}
            </td>
          </tr>
          }
        </tbody>

      </table>
    </section>

  </main>


  <footer role="contentinfo" aria-label="footer"></footer>
</div>
